In [72]:
import pandas as pd
import numpy as np
from pandas import ExcelFile
import datetime as dt

In [76]:
#Overarching objective: view the average number of 2's vs 3's taken by big men (power forwards
#and centers) from 2000 to 2017

hoops_data = pd.read_excel("NBA+Data.xlsx", sheetname ="NBA+Data")
hoops_data.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [91]:
#isolating only the years 2000-2017

hoops_data = hoops_data[hoops_data.Year >= 2000]
hoops_data.head(10)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
14470,2000.0,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,1578.0,13.6,0.477,...,0.756,101.0,190.0,291.0,98.0,59.0,28.0,106.0,147.0,697.0
14471,2000.0,Tariq Abdul-Wahad,SG,25.0,ORL,46.0,46.0,1205.0,14.4,0.484,...,0.762,77.0,162.0,239.0,72.0,53.0,16.0,87.0,116.0,563.0
14472,2000.0,Tariq Abdul-Wahad,SG,25.0,DEN,15.0,10.0,373.0,10.8,0.448,...,0.738,24.0,28.0,52.0,26.0,6.0,12.0,19.0,31.0,134.0
14473,2000.0,Shareef Abdur-Rahim,SF,23.0,VAN,82.0,82.0,3223.0,20.2,0.547,...,0.809,218.0,607.0,825.0,271.0,89.0,87.0,249.0,244.0,1663.0
14474,2000.0,Cory Alexander,PG,26.0,DEN,29.0,2.0,329.0,8.8,0.381,...,0.773,8.0,34.0,42.0,58.0,24.0,2.0,28.0,39.0,82.0
14475,2000.0,Ray Allen,SG,24.0,MIL,82.0,82.0,3070.0,20.6,0.570,...,0.887,83.0,276.0,359.0,308.0,110.0,19.0,183.0,187.0,1809.0
14476,2000.0,Rafer Alston,PG,23.0,MIL,27.0,0.0,361.0,4.3,0.310,...,0.750,5.0,18.0,23.0,70.0,12.0,0.0,29.0,29.0,60.0
14477,2000.0,John Amaechi,C,29.0,ORL,80.0,53.0,1684.0,13.2,0.505,...,0.766,62.0,204.0,266.0,95.0,35.0,37.0,139.0,161.0,836.0
14478,2000.0,Derek Anderson,SG,25.0,LAC,64.0,58.0,2201.0,16.9,0.542,...,0.877,80.0,178.0,258.0,220.0,90.0,11.0,167.0,149.0,1080.0
14479,2000.0,Kenny Anderson,PG,29.0,BOS,82.0,82.0,2593.0,17.4,0.524,...,0.775,55.0,170.0,225.0,420.0,139.0,8.0,130.0,230.0,1149.0

In [89]:
#finding all different ways big men are listed (anything w/ C or PF)
hoops_data['Pos'].unique()

array(['SG', 'SF', 'PG', 'C', 'PF', 'SF-SG', 'SF-PF', 'PF-SF', 'C-PF',
       'SG-PG', 'PG-SG', 'SG-SF', 'PF-C', 'PG-SF', 'SG-PF', 'C-SF'],
      dtype=object)

In [102]:
#creating a variable for ever different position
c = hoops_data.loc[hoops_data['Pos'] == 'C']
pf = hoops_data.loc[hoops_data['Pos'] == 'PF']
sf_pf = hoops_data.loc[hoops_data['Pos'] == 'SF-PF']
pf_sf = hoops_data.loc[hoops_data['Pos'] == 'PF-SF']
c_pf = hoops_data.loc[hoops_data['Pos'] == 'C-PF']
pf_c = hoops_data.loc[hoops_data['Pos'] == 'PF-C']
sg_pf = hoops_data.loc[hoops_data['Pos'] == 'SG-PF']
c_sf = hoops_data.loc[hoops_data['Pos'] == 'C-SF']

In [103]:
c_mean = c['2PA'].mean()
c_mean

278.1970515970516