## Dependencies
***

In [10]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Sets
***

In [11]:
#get Data files and turn into DataFrames

nba_data_excel = "NBA_Data_2000.xlsx"
player_data_excel = "player_heightweight_data(cleanedinches).xlsm"

nba_data_df = pd.read_excel(nba_data_excel)
height_weight_df = pd.read_excel(player_data_excel)

### DataFrame Cleaning/Manipulation
***

In [12]:
#preview DataFrames
#print(nba_data_df.count())
#print(height_weight_df.count())

In [13]:
#drop N/A values in year: nba_data_df
nba_data_df['Year'] = nba_data_df.Year.fillna(0)

#convert year into integer value
nba_data_df['Year'] = nba_data_df.Year.astype(int)

#Change 'Player' column to 'name'
nba_data_df = nba_data_df.rename(columns={"Player":"name"})

#Preview nba_data_df

nba_data_df.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2000,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,1578.0,13.6,0.477,...,0.756,101.0,190.0,291.0,98.0,59.0,28.0,106.0,147.0,697.0
1,2000,Tariq Abdul-Wahad,SG,25.0,ORL,46.0,46.0,1205.0,14.4,0.484,...,0.762,77.0,162.0,239.0,72.0,53.0,16.0,87.0,116.0,563.0
2,2000,Tariq Abdul-Wahad,SG,25.0,DEN,15.0,10.0,373.0,10.8,0.448,...,0.738,24.0,28.0,52.0,26.0,6.0,12.0,19.0,31.0,134.0
3,2000,Shareef Abdur-Rahim,SF,23.0,VAN,82.0,82.0,3223.0,20.2,0.547,...,0.809,218.0,607.0,825.0,271.0,89.0,87.0,249.0,244.0,1663.0
4,2000,Cory Alexander,PG,26.0,DEN,29.0,2.0,329.0,8.8,0.381,...,0.773,8.0,34.0,42.0,58.0,24.0,2.0,28.0,39.0,82.0

In [14]:
#drop N/A values in year: nba_data_df
height_weight_df['weight'] = height_weight_df.weight.fillna(0)

#Convert weight into integer value: height_weight_df
height_weight_df['weight'] = height_weight_df.weight.astype(int)

#Preview
height_weight_df.head()

                  name position  weight  height (inches) height(feet)
0       Alaa Abdelnaby      F-C     240               82     6ft 10in
1      Zaid Abdul-Aziz      NaN     235               81      6ft 9in
2  Kareem Abdul-Jabbar        C     225               86      7ft 2in
3   Mahmoud Abdul-Rauf        G     162               73      6ft 1in
4    Tariq Abdul-Wahad        F     223               78      6ft 6in

In [15]:
#Merge Both DataFrames on: 'name' column

merged_df = pd.merge(nba_data_df, height_weight_df)
merged_df.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,AST,STL,BLK,TOV,PF,PTS,position,weight,height (inches),height(feet)
0,2000,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,1578.0,13.6,0.477,...,98.0,59.0,28.0,106.0,147.0,697.0,F,223,78,6ft 6in
1,2000,Tariq Abdul-Wahad,SG,25.0,ORL,46.0,46.0,1205.0,14.4,0.484,...,72.0,53.0,16.0,87.0,116.0,563.0,F,223,78,6ft 6in
2,2000,Tariq Abdul-Wahad,SG,25.0,DEN,15.0,10.0,373.0,10.8,0.448,...,26.0,6.0,12.0,19.0,31.0,134.0,F,223,78,6ft 6in
3,2001,Tariq Abdul-Wahad,SG,26.0,DEN,29.0,12.0,420.0,5.8,0.438,...,22.0,14.0,13.0,34.0,54.0,111.0,F,223,78,6ft 6in
4,2002,Tariq Abdul-Wahad,SG,27.0,TOT,24.0,12.0,441.0,9.8,0.418,...,24.0,20.0,10.0,27.0,56.0,135.0,F,223,78,6ft 6in

In [19]:
#remove 'unnamed' and position columns

complete_df = merged_df.drop(["position"],axis=1)
complete_df = complete_df.sort_values(by="Year")

In [28]:
#Conditional function to isolate big men and small men

def f(row):
    if row['Pos'] == 'C' or row['Pos'] == 'F' or row['Pos'] == 'C-F' or row['Pos'] == 'F-C' or row ['Pos'] == 'PF':
        val = 'bm'
    else:
        val = 'sm'
    return val
complete_df['men'] = complete_df.apply(f, axis = 1)

In [27]:
#Clean complete df

complete_df = complete_df.reset_index()
complete_df = complete_df.drop(['index'],axis=1)
complete_df.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,AST,STL,BLK,TOV,PF,PTS,weight,height (inches),height(feet),men
0,2000,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,1578.0,13.6,0.477,...,98.0,59.0,28.0,106.0,147.0,697.0,223,78,6ft 6in,sm
1,2000,Chris Gatling,PF,32.0,TOT,85.0,0.0,1811.0,17.3,0.525,...,71.0,82.0,23.0,169.0,246.0,1014.0,220,82,6ft 10in,bm
2,2000,Chris Gatling,PF,32.0,ORL,45.0,0.0,1041.0,17.4,0.525,...,40.0,48.0,10.0,105.0,142.0,598.0,220,82,6ft 10in,bm
3,2000,Chris Gatling,PF,32.0,DEN,40.0,0.0,770.0,17.1,0.525,...,31.0,34.0,13.0,64.0,104.0,416.0,220,82,6ft 10in,bm
4,2000,Matt Geiger,C,30.0,PHI,65.0,20.0,1406.0,13.9,0.483,...,39.0,29.0,22.0,91.0,194.0,629.0,243,85,7ft 1in,bm

In [36]:
#isolate big men and small men

#--big men--#
big_men_df = complete_df.loc[complete_df['men']=='bm']

#--small men--#
small_men_df = complete_df.loc[complete_df['men']=='sm']

#Test print both: big_men_df and small_men_df

big_men_df.head()
small_men_df.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,AST,STL,BLK,TOV,PF,PTS,weight,height (inches),height(feet),men
0,2000,Tariq Abdul-Wahad,SG,25.0,TOT,61.0,56.0,1578.0,13.6,0.477,...,98.0,59.0,28.0,106.0,147.0,697.0,223,78,6ft 6in,sm
5,2000,Devean George,SF,22.0,LAL,49.0,1.0,345.0,12.1,0.478,...,12.0,10.0,4.0,21.0,54.0,155.0,220,80,6ft 8in,sm
7,2000,Jacque Vaughn,PG,24.0,UTA,78.0,0.0,884.0,9.2,0.489,...,121.0,32.0,0.0,77.0,92.0,289.0,190,73,6ft 1in,sm
8,2000,Wayne Turner,PG,23.0,BOS,3.0,0.0,41.0,-1.7,0.231,...,5.0,0.0,0.0,3.0,4.0,4.0,190,74,6ft 2in,sm
9,2000,Kendall Gill,SF,31.0,NJN,76.0,75.0,2355.0,15.2,0.465,...,210.0,139.0,41.0,89.0,211.0,993.0,195,77,6ft 5in,sm

In [32]:
#Groupby complete_df by MultiIndex: 'Year' and 'men'

grouped_df = complete_df.groupby(["Year", "men"])

#Check the groups
grouped_df.groups

##--big men--##

{(2000, 'bm'): Int64Index([  1,   2,   3,   4,   6,  10,  12,  13,  16,  17,
             ...
             447, 448, 456, 465, 469, 475, 476, 480, 482, 483],
            dtype='int64', length=192),
 (2000, 'sm'): Int64Index([  0,   5,   7,   8,   9,  11,  14,  15,  18,  21,
             ...
             470, 471, 472, 473, 474, 477, 478, 479, 481, 484],
            dtype='int64', length=293),
 (2001,
  'bm'): Int64Index([ 485,  486,  487,  490,  492,  493,  495,  499,  501,  504,
             ...
              977,  978,  980,  981,  988,  990, 1000, 1002, 1003, 1004],
            dtype='int64', length=209),
 (2001,
  'sm'): Int64Index([ 488,  489,  491,  494,  496,  497,  498,  500,  502,  503,
             ...
              992,  993,  994,  995,  996,  997,  998,  999, 1001, 1005],
            dtype='int64', length=312),
 (2002,
  'bm'): Int64Index([1008, 1012, 1014, 1015, 1017, 1020, 1022, 1023, 1024, 1027,
             ...
             1477, 1478, 1482, 1483, 1484, 1486, 1487, 1488, 1491, 1492],
            dtype='int64', length=196),
 (2002,
  'sm'): Int64Index([1006, 1007, 1009, 1010, 1011, 1013, 1016, 1018, 1019, 1021,
             ...
             1471, 1472, 1473, 1479, 1480, 1481, 1485, 1489, 1490, 1493],
            dtype='int64', length=292),
 (2003,
  'bm'): Int64Index([1494, 1495, 1496, 1498, 1500, 1501, 1504, 1506, 1508, 1511,
             ...
             1939, 1942, 1946, 1951, 1952, 1953, 1955, 1961, 1964, 1967],
            dtype='int64', length=192),
 (2003,
  'sm'): Int64Index([1497, 1499, 1502, 1503, 1505, 1507, 1509, 1510, 1513, 1514,
             ...
             1954, 1956, 1957, 1958, 1959, 1960, 1962, 1963, 1965, 1966],
            dtype='int64', length=282),
 (2004,
  'bm'): Int64Index([1968, 1969, 1970, 1971, 1974, 1978, 1979, 1980, 1981, 1984,
             ...
             2514, 2515, 2519, 2522, 2527, 2533, 2534, 2539, 2541, 2543],
            dtype='int64', length=249),
 (2004,
  'sm'): Int64Index([1972, 1973, 1975, 1976, 1977, 1982, 1983, 1986, 1987, 1988,
             ...
             2530, 2531, 2532, 2535, 2536, 2537, 2538, 2540, 2542, 2544],
            dtype='int64', length=328),
 (2005,
  'bm'): Int64Index([2545, 2550, 2552, 2556, 2557, 2560, 2562, 2565, 2567, 2570,
             ...
             3079, 3080, 3081, 3088, 3092, 3094, 3099, 3107, 3110, 3113],
            dtype='int64', length=235),
 (2005,
  'sm'): Int64Index([2546, 2547, 2548, 2549, 2551, 2553, 2554, 2555, 2558, 2559,
             ...
             3111, 3112, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3121],
            dtype='int64', length=342),
 (2006,
  'bm'): Int64Index([3124, 3129, 3134, 3135, 3136, 3139, 3146, 3147, 3157, 3158,
             ...
             3654, 3656, 3657, 3658, 3666, 3667, 3669, 3673, 3676, 3680],
            dtype='int64', length=223),
 (2006,
  'sm'): Int64Index([3122, 3123, 3125, 3126, 3127, 3128, 3130, 3131, 3132, 3133,
             ...
             3671, 3672, 3674, 3675, 3677, 3678, 3679, 3681, 3682, 3683],
            dtype='int64', length=339),
 (2007,
  'bm'): Int64Index([3684, 3685, 3687, 3692, 3700, 3702, 3703, 3704, 3708, 3712,
             ...
             4175, 4176, 4180, 4182, 4183, 4185, 4188, 4191, 4194, 4197],
            dtype='int64', length=221),
 (2007,
  'sm'): Int64Index([3686, 3688, 3689, 3690, 3691, 3693, 3694, 3695, 3696, 3697,
             ...
             4189, 4190, 4192, 4193, 4195, 4196, 4198, 4199, 4200, 4201],
            dtype='int64', length=297),
 (2008,
  'bm'): Int64Index([4204, 4205, 4209, 4210, 4211, 4215, 4216, 4218, 4227, 4229,
             ...
             4775, 4776, 4786, 4787, 4788, 4790, 4791, 4798, 4800, 4801],
            dtype='int64', length=249),
 (2008,
  'sm'): Int64Index([4202, 4203, 4206, 4207, 4208, 4212, 4213, 4214, 4217, 4219,
             ...
             4789, 4792, 4793, 4794, 4795, 4796, 4797, 4799, 4802, 4803],
            dtype='int64', length=353),
 (2009,
  'bm'): Int64Index([4804, 4809, 4810, 4815, 4817, 4818, 4819, 4820, 4822, 4823,
             ...
             5365, 5369, 5371, 5372, 5375, 5376, 5377, 5381, 5384, 5387],
            dtype='int64', length=243),
 (2009,
  'sm'): Int64Index([4805, 4806, 4807, 4808, 4811, 4812, 4813, 4814, 4816, 4821,
             ...
             5370, 5373, 5374, 5378, 5379, 5380, 5382, 5383, 5385, 5386],
            dtype='int64', length=341),
 (2010,
  'bm'): Int64Index([5388, 5389, 5393, 5395, 5397, 5399, 5400, 5401, 5403, 5408,
             ...
             5940, 5941, 5943, 5949, 5952, 5954, 5955, 5957, 5959, 5963],
            dtype='int64', length=223),
 (2010,
  'sm'): Int64Index([5390, 5391, 5392, 5394, 5396, 5398, 5402, 5404, 5405, 5406,
             ...
             5950, 5951, 5953, 5956, 5958, 5960, 5961, 5962, 5964, 5965],
            dtype='int64', length=355),
 (2011,
  'bm'): Int64Index([5966, 5967, 5969, 5971, 5975, 5976, 5985, 5989, 5991, 5992,
             ...
             6569, 6571, 6574, 6576, 6577, 6581, 6582, 6584, 6589, 6591],
            dtype='int64', length=246),
 (2011,
  'sm'): Int64Index([5968, 5970, 5972, 5973, 5974, 5977, 5978, 5979, 5980, 5981,
             ...
             6580, 6583, 6585, 6586, 6587, 6588, 6590, 6592, 6593, 6594],
            dtype='int64', length=383),
 (2012,
  'bm'): Int64Index([6595, 6596, 6597, 6599, 6600, 6601, 6602, 6603, 6604, 6607,
             ...
             7139, 7140, 7143, 7144, 7145, 7146, 7150, 7152, 7153, 7154],
            dtype='int64', length=231),
 (2012,
  'sm'): Int64Index([6598, 6605, 6606, 6608, 6609, 6610, 6611, 6613, 6615, 6617,
             ...
             7132, 7135, 7137, 7138, 7141, 7142, 7147, 7148, 7149, 7151],
            dtype='int64', length=329),
 (2013,
  'bm'): Int64Index([7156, 7159, 7160, 7161, 7164, 7167, 7168, 7169, 7172, 7174,
             ...
             7716, 7722, 7723, 7724, 7725, 7726, 7728, 7729, 7731, 7732],
            dtype='int64', length=230),
 (2013,
  'sm'): Int64Index([7155, 7157, 7158, 7162, 7163, 7165, 7166, 7170, 7171, 7173,
             ...
             7713, 7715, 7717, 7718, 7719, 7720, 7721, 7727, 7730, 7733],
            dtype='int64', length=349),
 (2014,
  'bm'): Int64Index([7734, 7735, 7736, 7738, 7739, 7741, 7745, 7747, 7750, 7754,
             ...
             8327, 8333, 8335, 8337, 8338, 8343, 8344, 8345, 8346, 8349],
            dtype='int64', length=233),
 (2014,
  'sm'): Int64Index([7737, 7740, 7742, 7743, 7744, 7746, 7748, 7749, 7751, 7752,
             ...
             8332, 8334, 8336, 8339, 8340, 8341, 8342, 8347, 8348, 8350],
            dtype='int64', length=384),
 (2015,
  'bm'): Int64Index([8358, 8365, 8371, 8372, 8375, 8376, 8378, 8379, 8380, 8381,
             ...
             9001, 9002, 9003, 9004, 9005, 9008, 9009, 9010, 9011, 9014],
            dtype='int64', length=243),
 (2015,
  'sm'): Int64Index([8351, 8352, 8353, 8354, 8355, 8356, 8357, 8359, 8360, 8361,
             ...
             8991, 8992, 8993, 8995, 8998, 8999, 9006, 9007, 9012, 9013],
            dtype='int64', length=421),
 (2016,
  'bm'): Int64Index([9024, 9027, 9033, 9035, 9038, 9039, 9041, 9046, 9050, 9051,
             ...
             9573, 9581, 9582, 9583, 9584, 9587, 9593, 9594, 9596, 9597],
            dtype='int64', length=225),
 (2016,
  'sm'): Int64Index([9015, 9016, 9017, 9018, 9019, 9020, 9021, 9022, 9023, 9025,
             ...
             9580, 9585, 9586, 9588, 9589, 9590, 9591, 9592, 9595, 9598],
            dtype='int64', length=359),
 (2017,
  'bm'): Int64Index([ 9599,  9601,  9602,  9605,  9610,  9611,  9612,  9613,  9616,
              9621,
             ...
             10173, 10174, 10177, 10179, 10180, 10181, 10185, 10186, 10195,
             10198],
            dtype='int64', length=233),
 (2017,
  'sm'): Int64Index([ 9600,  9603,  9604,  9606,  9607,  9608,  9609,  9614,  9615,
              9617,
             ...
             10188, 10189, 10190, 10191, 10192, 10193, 10194, 10196, 10197,
             10199],
            dtype='int64', length=368)}

#### Data Analysis
***

##### Average minutes played

In [18]:
#Get the average minutes played for each position and each year

avg_minutes_df = grouped_df.MP.mean()
print(type(avg_minutes_df))

#Turn into DataFrame

avg_minutes_df = avg_minutes_df.to_frame()
type(avg_minutes_df)

#Reset index of DataFrame
avg_minutes_df = avg_minutes_df.reset_index()
avg_minutes_df.head()

NameError: name 'grouped_df' is not defined

In [ ]:
#Step 1: Find the average for all big men and store it in a variable for each year 

centers_min 


#Step 2: Create a DataFrame with Years and 'average' variables, create a list of the average for each year

In [ ]:
#Centers Minutes
centers_min = avg_minutes_df.loc[avg_minutes_df["Pos"] == "C"]

plt.bar(centers_min["Year"], centers_min["MP"], color='Blue')


#Set Axis Labels and Titles
plt.xlabel("Years")
plt.ylabel("Average Minutes Played")
plt.title("Average Minutes Played by Centers")

In [ ]:
#Power Forward Minutes
pf_min = avg_minutes_df.loc[avg_minutes_df["Pos"] == "PF"]

plt.bar(pf_min["Year"],pf_min["MP"],color="Green")

#Set Axis Labels and Titles
plt.xlabel("Years")
plt.ylabel("Average Minutes Played")
plt.title("Average Minutes Played by Power Forwards")

In [ ]:
#Power Forward-Center Minutes
pf_c_min = avg_minutes_df.loc[avg_minutes_df["Pos"] == "PF-C"]

plt.bar(pf_c_min["Year"],pf_c_min["MP"],color="orange")

#Set Axis Labels and Titles
plt.xlabel("Years")
plt.ylabel("Average Minutes Played")
plt.title("Average Minutes Played by Power Forward/Center(s)")

In [ ]:
#Center-Power Forward Minutes
c_pfmin = avg_minutes_df.loc[avg_minutes_df["Pos"] == "C-PF"]

plt.bar(c_pfmin["Year"],c_pfmin["MP"],color="purple")

#Set Axis Labels and Titles
#Set Axis Labels and Titles
plt.xlabel("Years")
plt.ylabel("Average Minutes Played")
plt.title("Average Minutes Played by Center-Power Forward(s)")

In [ ]:
#all Together

plt.bar(centers_min["Year"] + 0, centers_min["MP"], color='Blue', width = 0.25)
plt.bar(pf_min["Year"] + 0.25,pf_min["MP"],color="Green", width = 0.25)
plt.bar(pf_c_min["Year"] + 0.5,pf_c_min["MP"],color="orange", width = 0.25)
plt.bar(c_pfmin["Year"] + 0.75,c_pfmin["MP"],color="purple", width = 0.25)

plt.xlabel("Years")
plt.ylabel("Average Minutes Played")
plt.title("Big Men Positions")

In [ ]:
#Disregard

#set multi-index by year and name: year_name_df
#year_pos_df = complete_df.set_index(['Year',('Pos')])
#year_pos_df = year_pos_df.sort_index()
#year_pos_df.mean()



#Disregard

#Create a DataFrame only containing big men
#year_2000 = year_pos_df[np.in1d(year_pos_df.index.get_level_values(0), [2000])]
#big_men_df_2000 = year_2000[np.in1d(year_2000.index.get_level_values(1), ['C','C-PF','PF', 'PF-C'])]
#big_men_df_2000