In [2]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#get Data files and turn into DataFrames

nba_data_csv = "NBA+Data.csv"
player_data_excel = "player_heightweight_data(cleaned).xlsx"

df_one = pd.read_csv(nba_data_csv)
df_two = pd.read_excel(player_data_excel)
print(df_one.head())
df_two.head()

   Unnamed: 0    Year           Player  Pos   Age   Tm     G  GS  MP  PER  \
0           0  1950.0  Curly Armstrong  G-F  31.0  FTW  63.0 NaN NaN  NaN
1           1  1950.0     Cliff Barker   SG  29.0  INO  49.0 NaN NaN  NaN
2           2  1950.0    Leo Barnhorst   SF  25.0  CHS  67.0 NaN NaN  NaN
3           3  1950.0       Ed Bartels    F  24.0  TOT  15.0 NaN NaN  NaN
4           4  1950.0       Ed Bartels    F  24.0  DNN  13.0 NaN NaN  NaN

   ...      FT%  ORB  DRB  TRB    AST  STL  BLK  TOV     PF    PTS
0  ...    0.705  NaN  NaN  NaN  176.0  NaN  NaN  NaN  217.0  458.0
1  ...    0.708  NaN  NaN  NaN  109.0  NaN  NaN  NaN   99.0  279.0
2  ...    0.698  NaN  NaN  NaN  140.0  NaN  NaN  NaN  192.0  438.0
3  ...    0.559  NaN  NaN  NaN   20.0  NaN  NaN  NaN   29.0   63.0
4  ...    0.548  NaN  NaN  NaN   20.0  NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]

                  name position     height  weight
0       Alaa Abdelnaby      F-C 2019-06-10   240.0
1      Zaid Abdul-Aziz      NaN 2019-06-09   235.0
2  Kareem Abdul-Jabbar        C 2019-07-02   225.0
3   Mahmoud Abdul-Rauf        G 2019-06-01   162.0
4    Tariq Abdul-Wahad        F 2019-06-06   223.0

In [4]:
print(df_one.columns)

df_one = df_one.rename(columns={"Player":"name"})
df_one.head()

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

,Unnamed: 0,Year,name,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [6]:
#Merge them

merged_set = pd.merge(df_one, df_two)
merged_set.head()

,Unnamed: 0,Year,name,Pos,Age,Tm,G,GS,MP,PER,...,TRB,AST,STL,BLK,TOV,PF,PTS,position,height,weight
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,G-F,2019-05-11,170.0
1,314,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,...,89.0,77.0,NaN,NaN,NaN,97.0,202.0,G-F,2019-05-11,170.0
2,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,G,2019-06-02,185.0
3,315,1951.0,Cliff Barker,SG,30.0,INO,56.0,NaN,NaN,NaN,...,100.0,115.0,NaN,NaN,NaN,98.0,152.0,G,2019-06-02,185.0
4,489,1952.0,Cliff Barker,SG,31.0,INO,44.0,NaN,494.0,10.8,...,81.0,70.0,NaN,NaN,NaN,56.0,126.0,G,2019-06-02,185.0

In [22]:
#drop the repitive position column
new_set = merged_set.drop(["position", "Unnamed: 0"], axis=1)
new_set.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,height,weight
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,2019-05-11,170.0
1,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,0.372,...,NaN,89.0,77.0,NaN,NaN,NaN,97.0,202.0,2019-05-11,170.0
2,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,2019-06-02,185.0
3,1951.0,Cliff Barker,SG,30.0,INO,56.0,NaN,NaN,NaN,0.322,...,NaN,100.0,115.0,NaN,NaN,NaN,98.0,152.0,2019-06-02,185.0
4,1952.0,Cliff Barker,SG,31.0,INO,44.0,NaN,494.0,10.8,0.343,...,NaN,81.0,70.0,NaN,NaN,NaN,56.0,126.0,2019-06-02,185.0

In [23]:
#View years 2007 to 2017

    #Change year type to integer
new_set["Years"].astype(int)

KeyError: 'Years'