In [2]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
#get Data files and turn into DataFrames

nba_data_csv = "NBA+Data.csv"
player_data_excel = "player_heightweight_data(cleanedinches).xlsm"

nba_data_df = pd.read_csv(nba_data_csv)
height_weight_df = pd.read_excel(player_data_excel)

In [17]:
#preview DataFrames
print(nba_data_df.head())
print(height_weight_df.head())

   Unnamed: 0    Year           Player  Pos   Age   Tm     G  GS  MP  PER  \
0           0  1950.0  Curly Armstrong  G-F  31.0  FTW  63.0 NaN NaN  NaN
1           1  1950.0     Cliff Barker   SG  29.0  INO  49.0 NaN NaN  NaN
2           2  1950.0    Leo Barnhorst   SF  25.0  CHS  67.0 NaN NaN  NaN
3           3  1950.0       Ed Bartels    F  24.0  TOT  15.0 NaN NaN  NaN
4           4  1950.0       Ed Bartels    F  24.0  DNN  13.0 NaN NaN  NaN

   ...      FT%  ORB  DRB  TRB    AST  STL  BLK  TOV     PF    PTS
0  ...    0.705  NaN  NaN  NaN  176.0  NaN  NaN  NaN  217.0  458.0
1  ...    0.708  NaN  NaN  NaN  109.0  NaN  NaN  NaN   99.0  279.0
2  ...    0.698  NaN  NaN  NaN  140.0  NaN  NaN  NaN  192.0  438.0
3  ...    0.559  NaN  NaN  NaN   20.0  NaN  NaN  NaN   29.0   63.0
4  ...    0.548  NaN  NaN  NaN   20.0  NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]
                  name position  weight  height (inches) height(feet)
0       Alaa Abdelnaby      F-C   240.0               82     6ft 10in
1      Zaid Abdul-Aziz      NaN   235.0               81      6ft 9in
2  Kareem Abdul-Jabbar        C   225.0               86      7ft 2in
3   Mahmoud Abdul-Rauf        G   162.0               73      6ft 1in
4    Tariq Abdul-Wahad        F   223.0               78      6ft 6in

In [21]:
#drop N/A values in year: nba_data_df
nba_data_df['Year'] = nba_data_df.Year.fillna(0)

#convert year into integer value
nba_data_df['Year'] = nba_data_df.Year.astype(int)

#Change 'Player' column to 'name'
nba_data_df = nba_data_df.rename(columns={"Player":"name"})

#Preview nba_data_df

nba_data_df.head()

,Unnamed: 0,Year,name,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [20]:
#drop N/A values in year: nba_data_df
height_weight_df['weight'] = height_weight_df.weight.fillna(0)
#Convert weight into integer value: height_weight_df
height_weight_df['weight'] = height_weight_df.weight.astype(int)

#Preview
height_weight_df.head()

                  name position  weight  height (inches) height(feet)
0       Alaa Abdelnaby      F-C     240               82     6ft 10in
1      Zaid Abdul-Aziz      NaN     235               81      6ft 9in
2  Kareem Abdul-Jabbar        C     225               86      7ft 2in
3   Mahmoud Abdul-Rauf        G     162               73      6ft 1in
4    Tariq Abdul-Wahad        F     223               78      6ft 6in

In [26]:
#Merge Both DataFrames on: 'name' column

merged_df = pd.merge(nba_data_df, height_weight_df)
merged_df.head()

,Unnamed: 0,Year,name,Pos,Age,Tm,G,GS,MP,PER,...,AST,STL,BLK,TOV,PF,PTS,position,weight,height (inches),height(feet)
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,176.0,NaN,NaN,NaN,217.0,458.0,G-F,170,71,5ft 11in
1,314,1951,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,...,77.0,NaN,NaN,NaN,97.0,202.0,G-F,170,71,5ft 11in
2,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,109.0,NaN,NaN,NaN,99.0,279.0,G,185,74,6ft 2in
3,315,1951,Cliff Barker,SG,30.0,INO,56.0,NaN,NaN,NaN,...,115.0,NaN,NaN,NaN,98.0,152.0,G,185,74,6ft 2in
4,489,1952,Cliff Barker,SG,31.0,INO,44.0,NaN,494.0,10.8,...,70.0,NaN,NaN,NaN,56.0,126.0,G,185,74,6ft 2in

In [28]:
#remove 'unnamed' and position columns

complete_df = merged_df.drop(["position", "Unnamed: 0"],axis=1)

#preview DataFrame: complete_df
complete_df.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,TRB,AST,STL,BLK,TOV,PF,PTS,weight,height (inches),height(feet)
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,170,71,5ft 11in
1,1951,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,0.372,...,89.0,77.0,NaN,NaN,NaN,97.0,202.0,170,71,5ft 11in
2,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,185,74,6ft 2in
3,1951,Cliff Barker,SG,30.0,INO,56.0,NaN,NaN,NaN,0.322,...,100.0,115.0,NaN,NaN,NaN,98.0,152.0,185,74,6ft 2in
4,1952,Cliff Barker,SG,31.0,INO,44.0,NaN,494.0,10.8,0.343,...,81.0,70.0,NaN,NaN,NaN,56.0,126.0,185,74,6ft 2in

In [ ]:
#Do some groupby's